from datetime import timedelta

from regta import ThreadJob


class {{ class_name }}(ThreadJob):
    INTERVAL = timedelta(seconds=3)

    def execute(self):  # function which is called every 3 seconds
        print(f"Hello world from {self.__class__.__name__}!")

