from datetime import timedelta

from regta import ThreadJob


class {{ class_name }}(ThreadJob):
    INTERVAL = timedelta(seconds={{ seconds }})

    def execute(self):  # function is called every {{ seconds }} seconds
        print(
            f"Hello from {self.__class__.__name__}! "
            f"This message is displayed every {self.INTERVAL.seconds} seconds."
        )

